

@{
    ViewData["Title"] = "Index";
}

@model List<Pedido>
    <div class="container mt-4">
        <h2>Pedidos</h2>
        <a href="" class="btn btn-primary mb-2">Crear Nuevo Pedido</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model)
                {
                    <tr>
                        <td>@pedido.Fecha.ToShortDateString()</td>
                        <td>@pedido.Cliente.Nombre</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@pedido.PedidoId">Editar</a> |
                            <a asp-action="Details" asp-route-id="@pedido.PedidoId">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@pedido.PedidoId">Eliminar</a>
                        </td>
                    </tr>
             
                }


            </tbody>
        </table>

    </div>

