@model IEnumerable<MaestroDetalle_CRUD.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ClienteId">Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ClienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
